{% extends 'base.html' %}

{% block content %}

<section class="grey section">
<div class="container">
<div class="row">
<div id="content" class="col-md-8 col-sm-8 col-xs-12">
<div class="blog-wrapper">
<div class="row second-bread">
<div class="col-md-6 text-left">
<h1>Login</h1>
</div>
<div class="col-md-6 text-right">
<div class="bread">
<ol class="breadcrumb">
<li><a href="#">Home</a></li>
<li class="active">Login</li>
</ol>
</div>
</div>
</div>
</div>
<div class="blog-wrapper">
<div class="blog-title">
<div class="post-meta">

<form method = 'POST'>
{% csrf_token %}
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong style = 'text-transform:uppercase;'>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
{% endfor %}
{% endif %}
<div class="form-group">
    <label for="exampleFormControlInput1">Username</label>
    <div class="col lg-12">
        <input class="form-control form-control-lg" type="text" placeholder="Username" name="username">
    </div>
</div>

<div class="form-group">
    <label for="exampleFormControlInput1">Password</label>
    <div class="col lg-12">
        <input class="form-control form-control-lg" type="password" placeholder="Password" name="password">
    </div>
</div><br>
<button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
</form>
</div>
</div>
</div>
</div>
<div id="sidebar" class="col-md-4 col-sm-4 col-xs-12">
<div class="widget">
<div class="widget-title">
<h4>Subscribe Us</h4>
<hr>
</div>
<div class="newsletter">
<p>Subscribe to our weekly Newsletter and stay tuned and get more freebies.</p>
<form>
<input type="text" class="form-control" placeholder="Enter your email here...">
<input type="submit" value="Subscribe Now!" class="btn btn-primary btn-block"/>
</form>
</div>
</div>
<div class="widget">
<div class="widget-title">
<h4>Popular Courses</h4>
<hr>
</div>
<ul class="popular-courses">
<li>
<a href="#" title=""><img class="img-thumbnail" src="upload/xservice_01.png.pagespeed.ic.2iuJZT3CaV.png" alt=""></a>
</li>
<li>
<a href="#" title=""><img class="img-thumbnail" src="upload/xservice_02.png.pagespeed.ic.c6RThoxSWC.png" alt=""></a>
</li>
<li>
<a href="#" title=""><img class="img-thumbnail" src="upload/xservice_03.png.pagespeed.ic.E_Ew4wn4ZP.png" alt=""></a>
</li>
<li>
<a href="#" title=""><img class="img-thumbnail" src="upload/xservice_04.png.pagespeed.ic.NGi9jRXTXk.png" alt=""></a>
</li>
<li>
<a href="#" title=""><img class="img-thumbnail" src="upload/xservice_05.png.pagespeed.ic.2iuJZT3CaV.png" alt=""></a>
</li>
<li>
<a href="#" title=""><img class="img-thumbnail" src="upload/xservice_06.png.pagespeed.ic.o2Uniwq-y5.png" alt=""></a>
</li>
<li>
<a href="#" title=""><img class="img-thumbnail" src="upload/xservice_07.png.pagespeed.ic.H-fRTeeP8u.png" alt=""></a>
</li>
<li>
<a href="#" title=""><img class="img-thumbnail" src="upload/xservice_08.png.pagespeed.ic.76ek5JLaEY.png" alt=""></a>
</li>
<li>
<a href="#" title=""><img class="img-thumbnail" src="upload/xservice_09.png.pagespeed.ic.FJcG938KC-.png" alt=""></a>
</li>
</ul>
</div>
<div class="widget">
<div class="widget-title">
<h4>Popular Posts</h4>
<hr>
</div>
<div class="twitter-widget">
{% for post in posts %}
<ul class="latest-tweets">
<li>
<p><a href="#" title="">@{{post.author}}</a>{{post.content|truncatewords:20}}</p>
<span>{{post.published_at}}</span>
</li>
</ul>
{% endfor %}
</div>
</div>
</div>
</div>
</div>
</section>


{% endblock content %}