{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="grey section">
<div class="container">
<div class="row">
<div id="content" class="col-md-8 col-sm-8 col-xs-12">
<div class="blog-wrapper">
<div class="row second-bread">
<div class="col-md-6 text-left">
<h1>Blog & News</h1>
</div>
<div class="col-md-6 text-right">
<div class="bread">
<ol class="breadcrumb">
<li><a href="#">Home</a></li>
<li class="active">Blog</li>
</ol>
</div>
</div>
</div>
</div>
<div class="blog-wrapper">
<div class="blog-title">
<a class="category_title" title="">{% for category in posts.category.all %}{{category}},&nbsp;&nbsp;{% endfor %}</a>
<h2>{{posts.title}}</h2>
<div class="post-meta">
<span>
<i class="fa fa-user"></i>
<a href="#">{{posts.author}}</a>
</span>
<span>
<i class="fa fa-comments"></i>
{{replies.count}} Comment{{ replies.count|pluralize }}
</span>
<span>
<i class="fa fa-eye"></i>
{{posts.noOfViews}} View{{ posts.noOfViews|pluralize }}
</span>
<span>
<i class="fa fa-clock-o"></i>
<a href="#">{{posts.published_at|date}}</a>
</span>
</div>
</div>
<div class="blog-image">
<a href="#" title=""><img src="{{posts.image.url}}" alt="" class="img-responsive"></a>
</div>
<div class="blog-desc">
<div class="post-date">
<span class="day">{{posts.published_at|date:'d'}}</span>
<span class="month">{{posts.published_at|date:'F'}}</span>
</div>
<p>{{posts.content}}</p>
</div>
</div>
<hr class="invis">
{% if page_obj.has_other_pages %}
<nav class="text-center">
<ul class="pagination">
{% if page_obj.has_previous %}
<li class="page-item"><a aria-label="Previous"
        href="?sort_by={{sort_by}}&page={{ page_obj.previous_page_number }}">&laquo;</a>
</li>
{% else %}
<li class="disabled page-item"><a class="page-link" href="#">&laquo;</a></li>
{% endif %}
{% for num in page_obj.paginator.page_range %}
{% if num <= page_obj.number|add:3 and num > page_obj.number|add:-3 %}
{% if num == page_obj.number %}
<li class="page-item active"><a class="page-link" href="#">{{forloop.counter}}</a></li>
{% else %}
<li class="page-item"><a class="page-link" href="?sort_by={{sort_by}}&page={{ forloop.counter }}">
        {{ forloop.counter }}</a></li>
{% endif %}
{% endif %}
{% endfor %}
{% if page_obj.has_next %}
<li class="page-item"><a aria-label="Next"
        href="?sort_by={{sort_by}}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
{% else %}
<li class="disabled page-item"><a class="page-link" href="#">&raquo;</a></li>
{% endif %}
</ul>
</nav>
{% endif %}
<div class="blog-wrapper comment-wrapper">
<h3>
{% if replies %}					
What others say about this post? ({{replies.count}} Comment{{replies.count|pluralize}} )
</h3>
{% else %}
<h2>No Replies Yet! Be the first to comment!</h2>
{% endif %}
{% for reply in replies %}
<div class="well">
<div class="media">
<div class="media-left">
<img class="media-object" src="{% static 'images/download.png' %}" width = "0px" style="border-radius:30px" alt="">
</div>
<div class="media-body">
<h4 class="media-heading">{{reply.commenter}}</h4>
<div class="time-comment clearfix">
<small class="pull-left">{{reply.date_created}}</small>
</div>
<p>{{reply.comment}}</p>
</div>
</div>
</div>
{% endfor %}
</div>

<div class="widget-title">
<h4>Leave a Comment</h4>
<hr>
</div>
<div class="commentform">
{% if request.user.is_authenticated %}
<form method = 'POST'>
{% csrf_token %}
<label>Username</label>
<input type="text" class="form-control" placeholder="Your name" value = "{{request.user.username}}" readonly>
<label>Email</label>
<input type="email" class="form-control" placeholder="Your email" value = "{{request.user.visitor.email}}" readonly>
<label>Comment</label>
{{form.comment}}
<input type="submit" value="Comment" class="btn btn-primary btn-block"/>
</form>
{% else %}
<p>Please <a href="{% url 'login' %}" class="text-default">Login</a> to Comment</p>
{% endif %}
</div>
</div>

<div id="sidebar" class="col-md-4 col-sm-4 col-xs-12">
<div class="widget">
<div class="searchform">
<form>
<input type="text" class="form-control" placeholder="What you are looking for?">
</form>
</div>
</div>
<div class="widget">
<div class="widget-title">
<h4>Subscribe Us</h4>
<hr>
</div>
<div class="newsletter">
<p>Subscribe to our weekly Newsletter and stay tuned and get more freebies.</p>
<form>
<input type="text" class="form-control" placeholder="Enter your email here...">
<input type="submit" value="Subscribe Now!" class="btn btn-primary btn-block"/>
</form>
</div>
</div>
<div class="widget">
<div class="widget-title">
<h4>Popular Courses</h4>
<hr>
</div>
<ul class="popular-courses">
<li>
<a href="#" title=""><img class="img-thumbnail" src="upload/xservice_01.png.pagespeed.ic.2iuJZT3CaV.png" alt=""></a>
</li>
<li>
<a href="#" title=""><img class="img-thumbnail" src="upload/xservice_02.png.pagespeed.ic.c6RThoxSWC.png" alt=""></a>
</li>
<li>
<a href="#" title=""><img class="img-thumbnail" src="upload/xservice_03.png.pagespeed.ic.E_Ew4wn4ZP.png" alt=""></a>
</li>
<li>
<a href="#" title=""><img class="img-thumbnail" src="upload/xservice_04.png.pagespeed.ic.NGi9jRXTXk.png" alt=""></a>
</li>
<li>
<a href="#" title=""><img class="img-thumbnail" src="upload/xservice_05.png.pagespeed.ic.2iuJZT3CaV.png" alt=""></a>
</li>
<li>
<a href="#" title=""><img class="img-thumbnail" src="upload/xservice_06.png.pagespeed.ic.o2Uniwq-y5.png" alt=""></a>
</li>
<li>
<a href="#" title=""><img class="img-thumbnail" src="upload/xservice_07.png.pagespeed.ic.H-fRTeeP8u.png" alt=""></a>
</li>
<li>
<a href="#" title=""><img class="img-thumbnail" src="upload/xservice_08.png.pagespeed.ic.76ek5JLaEY.png" alt=""></a>
</li>
<li>
<a href="#" title=""><img class="img-thumbnail" src="upload/xservice_09.png.pagespeed.ic.FJcG938KC-.png" alt=""></a>
</li>
</ul>
</div>
<div class="widget">
<div class="widget-title">
<h4>Popular Posts</h4>
<hr>
</div>
<div class="twitter-widget">
{% for post in latest_post %}
<ul class="latest-tweets">
<li>
<p><a href="#" title="">@{{post.author}}</a>{{post.content|truncatewords:20}}</p>
<span>{{post.published_at}}</span>
</li>
</ul>
{% endfor %}
</div>
</div>
</div>
</div>
</div>
</section>


{% endblock content %}