{% extends 'base_generic.html' %}

{% load static %}

{% block content %}

<div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h4 class="font-weight-bold mb-0">Dashboard</h4>
                </div>
              </div>
            </div>
          </div>
            <div class="row">
                <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Blogs</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{not_cleared}}</h3>
                        <i class="ti-comments-smiley icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>  
                    <p class="mt-3 mb-0 text-sm">
                        <span class="text-primary mr-2"><i class="ti-hand-point-right"></i>&nbsp;<a href="#" style='text-decoration:none'>View Details</a></span>
                    </p>
                    </div>
                </div>
                </div>
                <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Courses</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{cleared}}</h3>
                        <i class="ti-book icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>  
                    <p class="mt-3 mb-0 text-sm">
                        <span class="text-primary mr-2"><i class="ti-hand-point-right"></i>&nbsp;<a href="#" style='text-decoration:none'>View Details</a></span>
                    </p>
                    </div>
                </div>
                </div>
                <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Categories</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{issue_log}}</h3>
                        <i class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>  
                    <p class="mt-3 mb-0 text-sm">
                        <span class="text-primary mr-2"><i class="ti-hand-point-right"></i>&nbsp;<a href="#" style='text-decoration:none'>View Details</a></span>
                    </p>
                    </div>
                </div>
                </div>
                <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Users</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">{{all_students}}</h3>
                        <i class="ti-user icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>  
                    <p class="mt-3 mb-0 text-sm">
                        <span class="text-primary mr-2"><i class="ti-hand-point-right"></i>&nbsp;<a href="#" style='text-decoration:none'>View Details</a></span>
                    </p>
                    </div>
                </div>
                </div>
            </div>
            </div>

{% endblock content %}